@import "../base/variables";
form {
    &.custom-form {
        .name-checkbox {
            min-height: 38px;
            input {
                &[type="checkbox"] {
                    + label {
                        background-color: lighten(color(input-label), $amount: 22);
                        border: 1px solid lighten(color(input-label), $amount: 18);
                        border-radius: 30px;
                        color:color(label-color);
                        cursor: pointer;
                        padding: 11px 2px;
                        transition: all .2s linear;
                        i {
                            &:before {
                                font-size: 16px;
                            }
                        }
                    }
                }
                &:checked[type ="checkbox"] {
                    + label {
                        background-color: color(primary-color);
                        border-color:lighten(color(primary-color), $amount: 8) ;
                        color: #fff;
                        transition: all .2s linear;
                    }
                }
            }
        }
    }
}