@import "../base/variables";
body {
    &.overflow {
        overflow-y: hidden;
    }
}
.side-client-medication {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    .side-content {
        width: 0;
        padding: 18px 20px;
        right: 0;
        bottom: 0;
        top: 0;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        background-color:#fff;
        transition: all .2s linear;
        overflow-y: auto;
        &::-webkit-scrollbar {
            background-color: color(label-color);
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 30px;
            background-color: color(label-color);
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: darken(color(label-color), $amount: 20);
            }
        }
    }
    .side-client-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }
    .side-header, .header {
        padding-bottom: 10px;
        border-bottom: 1px solid lighten(color(placeholder), $amount: 20);
        h4 {
            color: color(black-color);
            font-size: 20px;
            font-weight: 400;
        }
        i {
            cursor: pointer;
            transform: rotate(0);
            @include transition;
            &:before{
                color: color(label-color);
                font-size: 22px;
            }
            &:hover {
                transform: rotate(40deg);
                @include transition;
            }
        }
    }
    .client-medicine {
        background-color: lighten(color(body-color), $amount: 3);
        padding: 8px 10px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgb(206, 206, 206);
        list-style: none;
        li {
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                font-size: 15px;
                &.label {
                    font-weight: 600;
                    color: color(label-color);
                    margin-right: 10px;
                    padding-bottom: 4px;
                }
                &.medicine-detail {
                    color: color(placeholder);
                }
            }
        }
    }
    .side-body {
        padding: 20px 0;
    }
    &.side-upload-show {
        width: 100%;
        .side-content {
            width: 31%;
            transition: all .2s linear;
            @media screen and (max-width:767px) {
                width: 95%;
            }
            &.side-client-hide {
                    width:0;
                    padding: 0;
            }
        }
    }
}