.mainContainer {
  margin-top: 5%;
  max-width: 100%;
  overflow-x: scroll;
  position: relative;
}

table th, table td {
  padding: 10px 50px;
  /* color: black; */
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(32,79,113,1);
  letter-spacing: 0.06px;
  border-bottom-style: dotted;
  border-block-color: #eee;
  /* border: 2px inset white; */
}
.search_box {
  background: rgba(2, 143, 169, 1);
}
table th, table td .dates {
  color: rgba(97,104,115,1);
  white-space: nowrap;
  text-align: left;
  font-family: ITC Avant Garde Gothic Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.table-area-selected {
  position: absolute;
  background: rgba(242, 235, 251, 1);
  border: 0.3px dashed silver;
  cursor: pointer;
  border-radius: 7px;
  border-color: gray;
  padding: 5px;
  height: 65px !important;
  text-align: center;
  line-height: 50px;
  font-family: ITC Avant Garde Gothic Std;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(32,79,113,1);
  letter-spacing: 0.06px;
}

.resizer {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: black;
  z-index: 2;
}

.resizer.ne {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}

.resizer.se {
  bottom: 2px;
  right: 0px;
  cursor: se-resize;
  height: 55px;
  background-color: rgba(242, 235, 251, 1);
}

.header {
  overflow: hidden;
  background-color: rgba(2, 143, 169, 1);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  font-family: ITC Avant Garde Gothic Std;
  white-space: nowrap;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.06px;
  margin-right: 30px;
}

.header a.logo {
  font-size: 25px;
  color: white;
  font-family: ITC Avant Garde Gothic Std;
}

.header a:hover {
  color: white;
}

.header a.active {
  background-color: white;
  color: rgba(2, 143, 169, 1);
}

.header-right {
  margin-right: 360px;
  float: right;
}

.name {
  background-color: rgba(244, 241, 250, 1) !important;
  border-radius: 10px;
}

.carer_table {
  background-color: rgba(242, 235, 251, 1) !important;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  background-color: rgba(2, 143, 169, 1);
  height: 70px;
  margin-left: -35px;
  width: 400px;
  margin-bottom: -5px;
}

.content {
  margin-left: -15px;
  min-width: 250px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.562);
}

#app {
  background-color: white;
}

.card {
  display: flex;
  margin-left: 30px;
  margin-right: 20px;
  /* padding: 0.6em 1em 0.6em 0.6em; */
  padding: 0.6em 2em -0.4em 1.6em;
  margin-bottom: 0.5em;
  border-radius: 0.7em;
  /* box-shadow: silver 12px 6px 8px; */
  width: 330px;
}

.img {
  min-width: 45px;
  height: 45px;
  border-radius: 30px;
  background: linear-gradient(to bottom, black 0%, black 100%);
  opacity: 0.7;
  /* margin: 0 0.6em 0 0; */
  margin: 6px -0.4em 1px 10px;
  border: solid 1px black;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 0px auto;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 929px;
  z-index: 1005;
  width: 500px;
  left: 0px;
  top: 0px;
  min-height: 300px;
  position: relative;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
  color: #e3165b;
  float: right;
  padding: 10px;
}

.modal-default-button:hover {
  background-color: #eee;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 820px) {
  .container {
    min-width: auto;
    display: block;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card {
    box-shadow: none;
  }
}

.e-start-end-row {
  font-size: 14px;
  display: flex;
  padding-bottom: 12px;
  width: 100%;
}

/* .e-start-container {
  width: 50%;
} */

/* background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    bottom: 0;
    float: right;
    height: 30px;
    left: 6px;
    position: relative;
    width: 30px; */

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.close:hover {
  color: black;
}

.delete {
  margin-right: 160px;
}

.delete a {
  color: black;
  padding: 10px;
}

.delete a:hover {
  background-color: #eee;
}

.cancel {
  color: black;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
  float: right;
  padding: 10px;
}

.cancel:hover {
  background-color: #eee;
}
.vue__time-picker input.vue__time-picker-input {
  height: 2.0em !important;
  font-size: 14px !important;
}
.duration {
  font-size: 14px;
  margin-bottom: 13px;
}
.carer1 {
  font-size: 14px;
  margin-bottom: 13px;
}
.carer_select {
  height: 28px;
  margin-left: 48px;
  margin-right: 6px;
  width: 141px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
.recommend {
  margin-left: 15px;
  height: 28px;
  width: 110px;
  background-color: floralwhite;
  cursor: pointer;
  border: ridge;
  border-color: bisque
}
.shadow_select {
  height: 28px;
  margin-left: 36px;
  margin-right: 6px;
  width: 141px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
.search {
  height: 60px;
  /* width: 270px;
  margin-left: -20px; */
  border-radius: 10px;
  border-color: white;
  border: none;
  width: 300px;
  margin-left: -40px;
  /* box-shadow: silver 30px 6px 8px; */
}
.search:focus-visible {
  border-color: white !important;
}
.search_icon {
  position: absolute;
  width: 59px;
  height: 60px;
  left: 277px;
  top: 12px;
  overflow: visible;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(67,218,159,1);
}

#searchId::placeholder {
  left: 10px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(32,79,113,1);
  letter-spacing: 0.06px;
}
.calender_container {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 70px;
}
.group_calender {
  margin-left: 20px;
  background-color: rgba(2,143,169,1);
  padding: 20px;
  max-width: 200px;
  color: white;
  border-radius: 10px;
  height: 70px;
  border-color: white;
  
}
.calender_container {
  /* position: absolute; */
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: ITC Avant Garde Gothic Std;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(97,104,115,1);
  letter-spacing: 0.06px;
}
.drop_down {
  /* position: absolute; */
  /* width: 16px; */
  /* height: 9px; */
  left: 0px;
  top: 0px;
  /* overflow: visible; */
}
#card1, #card2, #card3{
  min-width: 230px;
  text-align: left;
  padding-left: 20px;
  height: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: ITC Avant Garde Gothic Std;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(97,104,115,1);
  letter-spacing: 0.06px;
}
#card2 {
  margin-left: 300px;
}

.date_pick {
  border: 1px solid #d2d2d2;
  width: 10.5em;
  height: 2.2em;
  padding: 0.3em 0.5em;
  margin-left: 50px;
}
.carer_name {
  margin-left: 30px;
  line-height: 45px;
}
.card_head {
    display: flex;
    margin-left: 30px;
    margin-right: 20px;
    /* padding: 0.6em 1em 0.6em 0.6em; */
    padding: 0.6em 2em -0.4em 1.6em;
    margin-bottom: 0.5em;
    border-radius: 0.7em;
    box-shadow: silver 12px 6px 8px;
    border: solid 1px #ccc;
    width: 330px;
}
#hel {
  opacity: 0.5;
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    overflow: visible;
    position: absolute;
    width: 308.5px;
    height: 1px;
    transform: matrix(1,0,0,1,0,0);
}