table th,
table td {
  padding: 10px 50px;
  border: 1px solid #cecece;
}

.table-area {
  position: relative;
  -webkit-user-select: none;
  /* Chrome, Opera, Safari */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.table-area-selected {
  position: absolute;
  background: green;
  border: 1px solid blue;
  cursor: pointer;
}

.data-cell {
}
